@import '../../scss/variables';

.Search { 

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__inputWrapper {
        display: flex;
        position: relative;
    }

    &__input {
        width: 500px;
        max-width: 90%;
        margin: 30px auto 10px;
        padding: 10px;
        font-size: 20px;
        text-transform: uppercase;
        background-color: $primary;
        color: $main-text;
        border: 0;
        border-bottom: 2px solid $accent;
    }
    
    &__input:focus {
        // outline: 1px solid $accent;
        outline: none;
    }
    
    &__closeIcon {
        position: absolute;
        right: -20px;
        cursor: pointer;
        z-index: 10;
        bottom: -10px;
        padding: 10px;
        font-size: 20px;
    }
    
    &__list {
        position: absolute;
        top: 75px;
        width: 500px;
        font-size: 18px;
        background-color: $secondary;
        padding: 10px;
        align-self: center;
        z-index: 10;
    }
    
    &__elem {
        padding: 0 0 15px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    
    &__movieTitle {
        color: $main-text;
        align-self: center;
        flex-grow: 1;
    }
    
    &__prodYear {
        color: $accent;
        align-self: center;
    }
    
    &__movieImg {
        padding-right: 20px;
        width: 80px;
        height: 100%;
    }
}



