@import '../../scss/variables';

.Search { 

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__inputWrapper {
        display: flex;
        position: relative;
    }

    &__input {
        width: 400px;
        max-width: 90%;
        margin: 30px auto 10px;
        padding: 10px;
        font-size: 20px;
        text-transform: uppercase;
        background-color: $primary;
        color: $main-text;
        border: 0;
        border-bottom: 2px solid $accent;
    
    
        &:focus {
            // outline: 1px solid $accent;
            outline: none;
        }

        &::placeholder {
            text-transform: lowercase;
            font-weight: 300;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    
    &__closeIcon {
        position: absolute;
        right: -20px;
        cursor: pointer;
        z-index: 10;
        bottom: -10px;
        padding: 10px;
        font-size: 20px;
    }
    
    &__list {
        position: absolute;
        top: 75px;
        width: 400px;
        font-size: 18px;
        background-color: $secondary;
        padding: 0 10px;
        align-self: center;
        z-index: 10;
        max-width: 90%;
    }
    
    &__elem {
        padding: 0 0 15px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &:first-of-type {
            padding-top: 15px;
        }
    }
    
    &__movieTitle {
        color: $main-text;
        align-self: center;
        flex-grow: 1;
    }
    
    &__prodYear {
        color: $accent;
        align-self: center;
    }
    
    &__movieImg {
        padding-right: 20px;
        width: 80px;
        height: 100%;
    }

    @media all and (min-width: 1024px) {

        &__input {
            max-width: 100%;
        }

        &__wrapper {
            justify-content: flex-end;
            flex-direction: row;
            margin-bottom: 30px;
            margin-right: 10%;
        }
    }
}



