@import '../../scss/variables';

.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Search__input {
    width: 500px;
    max-width: 90%;
    margin: 30px auto 10px;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: $primary;
    color: $main-text;
    border: 0;
    border-bottom: 2px solid $accent;
}
.Search__input:focus {
    // outline: 1px solid $accent;
    outline: none;
}

.Search__list {
    width: 500px;
    max-width: 90%;
    margin: -10px auto 10px;
    font-size: 18px;
    background-color: $secondary;
    padding: 10px;
}

.Search__elem {
    padding: 0 0 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Search__movieTitle {
    color: $main-text;
    align-self: center;
    flex-grow: 1;
}

.Search__prodYear {
    color: $accent;
    align-self: center;
}

.Search__movieImg {
    padding-right: 20px;
    width: 80px;
    height: 100%;
}

