@import '../../scss/variables';

.Discover {

    &__wrapper {
        margin: 20px 0;
    }

    &__title {
        text-transform: uppercase;
        color: $accent;
        font-weight: 700;
        padding: 20px 0;
        text-align: center;
        font-size: 22px;
    }

    &__element {
        max-width: 300px;
        margin: 0 auto;
    }

    &__slider {
        //slider styles
        .slick-slide {
            padding: 0 20px;
        }
    }    
}